<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SH</key>
	<array>
		<string>600141</string>
		<string>600106</string>
		<string>600074</string>
		<string>600306</string>
		<string>600741</string>
		<string>600506</string>
		<string>600039</string>
		<string>603268</string>
		<string>600706</string>
		<string>600239</string>
		<string>601021</string>
		<string>600674</string>
		<string>600439</string>
		<string>600874</string>
		<string>600639</string>
		<string>600839</string>
		<string>600113</string>
		<string>600081</string>
		<string>600313</string>
		<string>601519</string>
		<string>600281</string>
		<string>600513</string>
		<string>600481</string>
		<string>600713</string>
		<string>900957</string>
		<string>600246</string>
		<string>601919</string>
		<string>600681</string>
		<string>600446</string>
		<string>600881</string>
		<string>600179</string>
		<string>600846</string>
		<string>600379</string>
		<string>600579</string>
		<string>601126</string>
		<string>600120</string>
		<string>600320</string>
		<string>600979</string>
		<string>600520</string>
		<string>600053</string>
		<string>600720</string>
		<string>600018</string>
		<string>900929</string>
		<string>600218</string>
		<string>601000</string>
		<string>600653</string>
		<string>600186</string>
		<string>600418</string>
		<string>600853</string>
		<string>600386</string>
		<string>600618</string>
		<string>600586</string>
		<string>600818</string>
		<string>601600</string>
		<string>601800</string>
		<string>601333</string>
		<string>600986</string>
		<string>600060</string>
		<string>600260</string>
		<string>601933</string>
		<string>603019</string>
		<string>600460</string>
		<string>900936</string>
		<string>600225</string>
		<string>601666</string>
		<string>601199</string>
		<string>600660</string>
		<string>600193</string>
		<string>600425</string>
		<string>601866</string>
		<string>600860</string>
		<string>600393</string>
		<string>600158</string>
		<string>601599</string>
		<string>600593</string>
		<string>600825</string>
		<string>600358</string>
		<string>601799</string>
		<string>600558</string>
		<string>601999</string>
		<string>600993</string>
		<string>600758</string>
		<string>600958</string>
		<string>601038</string>
		<string>603026</string>
		<string>601238</string>
		<string>900943</string>
		<string>600232</string>
		<string>600432</string>
		<string>900908</string>
		<string>600165</string>
		<string>600365</string>
		<string>600565</string>
		<string>600098</string>
		<string>600765</string>
		<string>600298</string>
		<string>603100</string>
		<string>600965</string>
		<string>600498</string>
		<string>603300</string>
		<string>600698</string>
		<string>900950</string>
		<string>600004</string>
		<string>600898</string>
		<string>900915</string>
		<string>601880</string>
		<string>600172</string>
		<string>603166</string>
		<string>600372</string>
		<string>600604</string>
		<string>600137</string>
		<string>603366</string>
		<string>600572</string>
		<string>600804</string>
		<string>600337</string>
		<string>603566</string>
		<string>603099</string>
		<string>600537</string>
		<string>603766</string>
		<string>600737</string>
		<string>600011</string>
		<string>603699</string>
		<string>603005</string>
		<string>900922</string>
		<string>600211</string>
		<string>603899</string>
		<string>600611</string>
		<string>600811</string>
		<string>600109</string>
		<string>603338</string>
		<string>600077</string>
		<string>600309</string>
		<string>601985</string>
		<string>600744</string>
		<string>600277</string>
		<string>600509</string>
		<string>600477</string>
		<string>600677</string>
		<string>603012</string>
		<string>600877</string>
		<string>600151</string>
		<string>600351</string>
		<string>600116</string>
		<string>600551</string>
		<string>600084</string>
		<string>600316</string>
		<string>601992</string>
		<string>600751</string>
		<string>600284</string>
		<string>600516</string>
		<string>600716</string>
		<string>600249</string>
		<string>600684</string>
		<string>600449</string>
		<string>601231</string>
		<string>603678</string>
		<string>600884</string>
		<string>600649</string>
		<string>900901</string>
		<string>600123</string>
		<string>603117</string>
		<string>600323</string>
		<string>603085</string>
		<string>600291</string>
		<string>600523</string>
		<string>600056</string>
		<string>600491</string>
		<string>600723</string>
		<string>600256</string>
		<string>601929</string>
		<string>600456</string>
		<string>601003</string>
		<string>600891</string>
		<string>600189</string>
		<string>603885</string>
		<string>600856</string>
		<string>600389</string>
		<string>600589</string>
		<string>600130</string>
		<string>600789</string>
		<string>601336</string>
		<string>600330</string>
		<string>601069</string>
		<string>600530</string>
		<string>600063</string>
		<string>600730</string>
		<string>600028</string>
		<string>600463</string>
		<string>600228</string>
		<string>900939</string>
		<string>601010</string>
		<string>601669</string>
		<string>600663</string>
		<string>600196</string>
		<string>600428</string>
		<string>600863</string>
		<string>600396</string>
		<string>600628</string>
		<string>600596</string>
		<string>600828</string>
		<string>600796</string>
		<string>600070</string>
		<string>600302</string>
		<string>600270</string>
		<string>600502</string>
		<string>600035</string>
		<string>600470</string>
		<string>600702</string>
		<string>900946</string>
		<string>600235</string>
		<string>601908</string>
		<string>600435</string>
		<string>600635</string>
		<string>600168</string>
		<string>600835</string>
		<string>600368</string>
		<string>600568</string>
		<string>600768</string>
		<string>603997</string>
		<string>601515</string>
		<string>900953</string>
		<string>600007</string>
		<string>603703</string>
		<string>900918</string>
		<string>600207</string>
		<string>600642</string>
		<string>600175</string>
		<string>603636</string>
		<string>603169</string>
		<string>600375</string>
		<string>603369</string>
		<string>600575</string>
		<string>600807</string>
		<string>600775</string>
		<string>600975</string>
		<string>603969</string>
		<string>603008</string>
		<string>900925</string>
		<string>601890</string>
		<string>601188</string>
		<string>600182</string>
		<string>601388</string>
		<string>600382</string>
		<string>600614</string>
		<string>601588</string>
		<string>600582</string>
		<string>600814</string>
		<string>601788</string>
		<string>603808</string>
		<string>600782</string>
		<string>600547</string>
		<string>601988</string>
		<string>600982</string>
		<string>600747</string>
		<string>600021</string>
		<string>603015</string>
		<string>900932</string>
		<string>600221</string>
		<string>600421</string>
		<string>600621</string>
		<string>600821</string>
		<string>600354</string>
		<string>600119</string>
		<string>600319</string>
		<string>601101</string>
		<string>600754</string>
		<string>600287</string>
		<string>600519</string>
		<string>600487</string>
		<string>600719</string>
		<string>600687</string>
		<string>603022</string>
		<string>600887</string>
		<string>603222</string>
		<string>601901</string>
		<string>900904</string>
		<string>600161</string>
		<string>600361</string>
		<string>600126</string>
		<string>603355</string>
		<string>601567</string>
		<string>600561</string>
		<string>600094</string>
		<string>600326</string>
		<string>603555</string>
		<string>603088</string>
		<string>600761</string>
		<string>600526</string>
		<string>600059</string>
		<string>603288</string>
		<string>600961</string>
		<string>600726</string>
		<string>600259</string>
		<string>600694</string>
		<string>600459</string>
		<string>601006</string>
		<string>600000</string>
		<string>603688</string>
		<string>600894</string>
		<string>900911</string>
		<string>600200</string>
		<string>600859</string>
		<string>600400</string>
		<string>601139</string>
		<string>600600</string>
		<string>600133</string>
		<string>601339</string>
		<string>600800</string>
		<string>600333</string>
		<string>600533</string>
		<string>600066</string>
		<string>600733</string>
		<string>600266</string>
		<string>601939</string>
		<string>600466</string>
		<string>600666</string>
		<string>600199</string>
		<string>603001</string>
		<string>600866</string>
		<string>600399</string>
		<string>600599</string>
		<string>603601</string>
		<string>600340</string>
		<string>600105</string>
		<string>600999</string>
		<string>600540</string>
		<string>600073</string>
		<string>600305</string>
		<string>600740</string>
		<string>600273</string>
		<string>600505</string>
		<string>600038</string>
		<string>600705</string>
		<string>600238</string>
		<string>600673</string>
		<string>600438</string>
		<string>600873</string>
		<string>600638</string>
		<string>600838</string>
		<string>601118</string>
		<string>600112</string>
		<string>601318</string>
		<string>600080</string>
		<string>600312</string>
		<string>603306</string>
		<string>601518</string>
		<string>600280</string>
		<string>600512</string>
		<string>601718</string>
		<string>600480</string>
		<string>600712</string>
		<string>900956</string>
		<string>601918</string>
		<string>600680</string>
		<string>601886</string>
		<string>600880</string>
		<string>600645</string>
		<string>600178</string>
		<string>600845</string>
		<string>600378</string>
		<string>600578</string>
		<string>600778</string>
		<string>600978</string>
		<string>601058</string>
		<string>600052</string>
		<string>601258</string>
		<string>600252</string>
		<string>600017</string>
		<string>600452</string>
		<string>900928</string>
		<string>600652</string>
		<string>600185</string>
		<string>600385</string>
		<string>600617</string>
		<string>600585</string>
		<string>600785</string>
		<string>600985</string>
		<string>603979</string>
		<string>603018</string>
		<string>900935</string>
		<string>601198</string>
		<string>600192</string>
		<string>601398</string>
		<string>600392</string>
		<string>600624</string>
		<string>600157</string>
		<string>603618</string>
		<string>600592</string>
		<string>600824</string>
		<string>601798</string>
		<string>603818</string>
		<string>600792</string>
		<string>600557</string>
		<string>601998</string>
		<string>600992</string>
		<string>600757</string>
		<string>600031</string>
		<string>603025</string>
		<string>600231</string>
		<string>900942</string>
		<string>900907</string>
		<string>601872</string>
		<string>603158</string>
		<string>600831</string>
		<string>600129</string>
		<string>600097</string>
		<string>600329</string>
		<string>601111</string>
		<string>603558</string>
		<string>600764</string>
		<string>600297</string>
		<string>600529</string>
		<string>601311</string>
		<string>603993</string>
		<string>600497</string>
		<string>600729</string>
		<string>600697</string>
		<string>601009</string>
		<string>600897</string>
		<string>900914</string>
		<string>600203</string>
		<string>601177</string>
		<string>600171</string>
		<string>600403</string>
		<string>601377</string>
		<string>600371</string>
		<string>600603</string>
		<string>600136</string>
		<string>600571</string>
		<string>600803</string>
		<string>600336</string>
		<string>601777</string>
		<string>600771</string>
		<string>600536</string>
		<string>600971</string>
		<string>600736</string>
		<string>600269</string>
		<string>600469</string>
		<string>601016</string>
		<string>600010</string>
		<string>603698</string>
		<string>601216</string>
		<string>900921</string>
		<string>600210</string>
		<string>603898</string>
		<string>600869</string>
		<string>600410</string>
		<string>601616</string>
		<string>600610</string>
		<string>600143</string>
		<string>600810</string>
		<string>600343</string>
		<string>600108</string>
		<string>600543</string>
		<string>600076</string>
		<string>600308</string>
		<string>600743</string>
		<string>600276</string>
		<string>600508</string>
		<string>600476</string>
		<string>600708</string>
		<string>600676</string>
		<string>603011</string>
		<string>600876</string>
		<string>600150</string>
		<string>603611</string>
		<string>600350</string>
		<string>600115</string>
		<string>600550</string>
		<string>600083</string>
		<string>600315</string>
		<string>601991</string>
		<string>603077</string>
		<string>603309</string>
		<string>600750</string>
		<string>600283</string>
		<string>600515</string>
		<string>600048</string>
		<string>600483</string>
		<string>600248</string>
		<string>601689</string>
		<string>600683</string>
		<string>600448</string>
		<string>600883</string>
		<string>600648</string>
		<string>600848</string>
		<string>600122</string>
		<string>603116</string>
		<string>601328</string>
		<string>600090</string>
		<string>600322</string>
		<string>600290</string>
		<string>600522</string>
		<string>600055</string>
		<string>600490</string>
		<string>600255</string>
		<string>601928</string>
		<string>600690</string>
		<string>600455</string>
		<string>601002</string>
		<string>600890</string>
		<string>600655</string>
		<string>600188</string>
		<string>600855</string>
		<string>600388</string>
		<string>600588</string>
		<string>603123</string>
		<string>600988</string>
		<string>600062</string>
		<string>600262</string>
		<string>600027</string>
		<string>600462</string>
		<string>900938</string>
		<string>600227</string>
		<string>603456</string>
		<string>601668</string>
		<string>600662</string>
		<string>600195</string>
		<string>600862</string>
		<string>600395</string>
		<string>600595</string>
		<string>600827</string>
		<string>603589</string>
		<string>600795</string>
		<string>601107</string>
		<string>600101</string>
		<string>603789</string>
		<string>600995</string>
		<string>603989</string>
		<string>600501</string>
		<string>600701</string>
		<string>900945</string>
		<string>600234</string>
		<string>600634</string>
		<string>600167</string>
		<string>600834</string>
		<string>600367</string>
		<string>603828</string>
		<string>600567</string>
		<string>600767</string>
		<string>600967</string>
		<string>900952</string>
		<string>600241</string>
		<string>600006</string>
		<string>900917</string>
		<string>600206</string>
		<string>600641</string>
		<string>600406</string>
		<string>603168</string>
		<string>600841</string>
		<string>600606</string>
		<string>600139</string>
		<string>603368</string>
		<string>600806</string>
		<string>600339</string>
		<string>603568</string>
		<string>600774</string>
		<string>600739</string>
		<string>603968</string>
		<string>900924</string>
		<string>600213</string>
		<string>600381</string>
		<string>600613</string>
		<string>600146</string>
		<string>600581</string>
		<string>600346</string>
		<string>600781</string>
		<string>600546</string>
		<string>600079</string>
		<string>600981</string>
		<string>600746</string>
		<string>600279</string>
		<string>600479</string>
		<string>600020</string>
		<string>600679</string>
		<string>601226</string>
		<string>600220</string>
		<string>600879</string>
		<string>600420</string>
		<string>600620</string>
		<string>600153</string>
		<string>600820</string>
		<string>600353</string>
		<string>600118</string>
		<string>600086</string>
		<string>600318</string>
		<string>601100</string>
		<string>600753</string>
		<string>600518</string>
		<string>600486</string>
		<string>600718</string>
		<string>600686</string>
		<string>603021</string>
		<string>601700</string>
		<string>601233</string>
		<string>600886</string>
		<string>900903</string>
		<string>601633</string>
		<string>601166</string>
		<string>600160</string>
		<string>600360</string>
		<string>600125</string>
		<string>601566</string>
		<string>601099</string>
		<string>600560</string>
		<string>600093</string>
		<string>600325</string>
		<string>601766</string>
		<string>600760</string>
		<string>600293</string>
		<string>600525</string>
		<string>600058</string>
		<string>603519</string>
		<string>600960</string>
		<string>600493</string>
		<string>600725</string>
		<string>600258</string>
		<string>601699</string>
		<string>600693</string>
		<string>600458</string>
		<string>601005</string>
		<string>601899</string>
		<string>600893</string>
		<string>600658</string>
		<string>900910</string>
		<string>600858</string>
		<string>600132</string>
		<string>603126</string>
		<string>600332</string>
		<string>600532</string>
		<string>601012</string>
		<string>600665</string>
		<string>600198</string>
		<string>603000</string>
		<string>600865</string>
		<string>600398</string>
		<string>600598</string>
		<string>600798</string>
		<string>603600</string>
		<string>600104</string>
		<string>600998</string>
		<string>603333</string>
		<string>600072</string>
		<string>603066</string>
		<string>600272</string>
		<string>600037</string>
		<string>600704</string>
		<string>900948</string>
		<string>600237</string>
		<string>601678</string>
		<string>603199</string>
		<string>600872</string>
		<string>600637</string>
		<string>603399</string>
		<string>600837</string>
		<string>603599</string>
		<string>601117</string>
		<string>600111</string>
		<string>603799</string>
		<string>600311</string>
		<string>600511</string>
		<string>601717</string>
		<string>600711</string>
		<string>900955</string>
		<string>600009</string>
		<string>600209</string>
		<string>600177</string>
		<string>600409</string>
		<string>600844</string>
		<string>600377</string>
		<string>600609</string>
		<string>603838</string>
		<string>600577</string>
		<string>600809</string>
		<string>600777</string>
		<string>600051</string>
		<string>600251</string>
		<string>600016</string>
		<string>600216</string>
		<string>900927</string>
		<string>600651</string>
		<string>600184</string>
		<string>600416</string>
		<string>601857</string>
		<string>600851</string>
		<string>600616</string>
		<string>600149</string>
		<string>600584</string>
		<string>600816</string>
		<string>600784</string>
		<string>600549</string>
		<string>600749</string>
		<string>600023</string>
		<string>603017</string>
		<string>900934</string>
		<string>600223</string>
		<string>600191</string>
		<string>600423</string>
		<string>600391</string>
		<string>600623</string>
		<string>600156</string>
		<string>600823</string>
		<string>600356</string>
		<string>600791</string>
		<string>600556</string>
		<string>600089</string>
		<string>600756</string>
		<string>600289</string>
		<string>600489</string>
		<string>600030</string>
		<string>600689</string>
		<string>900941</string>
		<string>600230</string>
		<string>600889</string>
		<string>900906</string>
		<string>601636</string>
		<string>601169</string>
		<string>600630</string>
		<string>601369</string>
		<string>600830</string>
		<string>600363</string>
		<string>600128</string>
		<string>600563</string>
		<string>600096</string>
		<string>600328</string>
		<string>600763</string>
		<string>600528</string>
		<string>601969</string>
		<string>600963</string>
		<string>600496</string>
		<string>600728</string>
		<string>600696</string>
		<string>601008</string>
		<string>600896</string>
		<string>601208</string>
		<string>900913</string>
		<string>600202</string>
		<string>600170</string>
		<string>601608</string>
		<string>600370</string>
		<string>600602</string>
		<string>600135</string>
		<string>601808</string>
		<string>600570</string>
		<string>600802</string>
		<string>600335</string>
		<string>600770</string>
		<string>600535</string>
		<string>600068</string>
		<string>600970</string>
		<string>600735</string>
		<string>600268</string>
		<string>603729</string>
		<string>600468</string>
		<string>601015</string>
		<string>600668</string>
		<string>603003</string>
		<string>900920</string>
		<string>600868</string>
		<string>600107</string>
		<string>600075</string>
		<string>600307</string>
		<string>600742</string>
		<string>600275</string>
		<string>600507</string>
		<string>600475</string>
		<string>600707</string>
		<string>600675</string>
		<string>603010</string>
		<string>601222</string>
		<string>603669</string>
		<string>600875</string>
		<string>603869</string>
		<string>601390</string>
		<string>600114</string>
		<string>601555</string>
		<string>603108</string>
		<string>601088</string>
		<string>600082</string>
		<string>601288</string>
		<string>603308</string>
		<string>600282</string>
		<string>600482</string>
		<string>600714</string>
		<string>601688</string>
		<string>600682</string>
		<string>601888</string>
		<string>600882</string>
		<string>600647</string>
		<string>600847</string>
		<string>600121</string>
		<string>600321</string>
		<string>603315</string>
		<string>600521</string>
		<string>600054</string>
		<string>601727</string>
		<string>600721</string>
		<string>600019</string>
		<string>600219</string>
		<string>601001</string>
		<string>600654</string>
		<string>600187</string>
		<string>600419</string>
		<string>603883</string>
		<string>600854</string>
		<string>600387</string>
		<string>600619</string>
		<string>600587</string>
		<string>600819</string>
		<string>601601</string>
		<string>600787</string>
		<string>601801</string>
		<string>600987</string>
		<string>600061</string>
		<string>600261</string>
		<string>600026</string>
		<string>600461</string>
		<string>600226</string>
		<string>900937</string>
		<string>600661</string>
		<string>600426</string>
		<string>603188</string>
		<string>600861</string>
		<string>600626</string>
		<string>600159</string>
		<string>600594</string>
		<string>600826</string>
		<string>600359</string>
		<string>603588</string>
		<string>600794</string>
		<string>600559</string>
		<string>601106</string>
		<string>600100</string>
		<string>603788</string>
		<string>600759</string>
		<string>600300</string>
		<string>603988</string>
		<string>600959</string>
		<string>600500</string>
		<string>600033</string>
		<string>600233</string>
		<string>603227</string>
		<string>600900</string>
		<string>600433</string>
		<string>900909</string>
		<string>600633</string>
		<string>600166</string>
		<string>600833</string>
		<string>600366</string>
		<string>600566</string>
		<string>600099</string>
		<string>601113</string>
		<string>600766</string>
		<string>600299</string>
		<string>601313</string>
		<string>600966</string>
		<string>600499</string>
		<string>600699</string>
		<string>600240</string>
		<string>900951</string>
		<string>600005</string>
		<string>900916</string>
		<string>603901</string>
		<string>601179</string>
		<string>600640</string>
		<string>600173</string>
		<string>600405</string>
		<string>603167</string>
		<string>600373</string>
		<string>600605</string>
		<string>600138</string>
		<string>601579</string>
		<string>600573</string>
		<string>600805</string>
		<string>600338</string>
		<string>603567</string>
		<string>600773</string>
		<string>600538</string>
		<string>600973</string>
		<string>600738</string>
		<string>601018</string>
		<string>600012</string>
		<string>603006</string>
		<string>600212</string>
		<string>601218</string>
		<string>900923</string>
		<string>601186</string>
		<string>600180</string>
		<string>601618</string>
		<string>600380</string>
		<string>600612</string>
		<string>603606</string>
		<string>601818</string>
		<string>600580</string>
		<string>600812</string>
		<string>600345</string>
		<string>603806</string>
		<string>600780</string>
		<string>600545</string>
		<string>600078</string>
		<string>600980</string>
		<string>600745</string>
		<string>600278</string>
		<string>600478</string>
		<string>603939</string>
		<string>600678</string>
		<string>601225</string>
		<string>900930</string>
		<string>601158</string>
		<string>600152</string>
		<string>600352</string>
		<string>600117</string>
		<string>601558</string>
		<string>600552</string>
		<string>600085</string>
		<string>600317</string>
		<string>600285</string>
		<string>600517</string>
		<string>601958</string>
		<string>600485</string>
		<string>600717</string>
		<string>600685</string>
		<string>600917</string>
		<string>603020</string>
		<string>600885</string>
		<string>900902</string>
		<string>601098</string>
		<string>603118</string>
		<string>603318</string>
		<string>600292</string>
		<string>600057</string>
		<string>601965</string>
		<string>603518</string>
		<string>600724</string>
		<string>600257</string>
		<string>603718</string>
		<string>600692</string>
		<string>603686</string>
		<string>601898</string>
		<string>603918</string>
		<string>600892</string>
		<string>600657</string>
		<string>600857</string>
		<string>601137</string>
		<string>600131</string>
		<string>600331</string>
		<string>600531</string>
		<string>600064</string>
		<string>600731</string>
		<string>600029</string>
		<string>600229</string>
		<string>601011</string>
		<string>600197</string>
		<string>600664</string>
		<string>600429</string>
		<string>601211</string>
		<string>600864</string>
		<string>600397</string>
		<string>600629</string>
		<string>600597</string>
		<string>600829</string>
		<string>600797</string>
		<string>600103</string>
		<string>600997</string>
		<string>600303</string>
		<string>600271</string>
		<string>600503</string>
		<string>600036</string>
		<string>600703</string>
		<string>600236</string>
		<string>900947</string>
		<string>601677</string>
		<string>600671</string>
		<string>600436</string>
		<string>603198</string>
		<string>601877</string>
		<string>600871</string>
		<string>600636</string>
		<string>600169</string>
		<string>600836</string>
		<string>600369</string>
		<string>603598</string>
		<string>600569</string>
		<string>601116</string>
		<string>600110</string>
		<string>600769</string>
		<string>600310</string>
		<string>603998</string>
		<string>600969</string>
		<string>600510</string>
		<string>600243</string>
		<string>600008</string>
		<string>600208</string>
		<string>900919</string>
		<string>600643</string>
		<string>600176</string>
		<string>600843</string>
		<string>600376</string>
		<string>600576</string>
		<string>600808</string>
		<string>600776</string>
		<string>603111</string>
		<string>600976</string>
		<string>603311</string>
		<string>600050</string>
		<string>600250</string>
		<string>600015</string>
		<string>603009</string>
		<string>600215</string>
		<string>900926</string>
		<string>600650</string>
		<string>600183</string>
		<string>600415</string>
		<string>600850</string>
		<string>600383</string>
		<string>600615</string>
		<string>600148</string>
		<string>603609</string>
		<string>600583</string>
		<string>600815</string>
		<string>600348</string>
		<string>601789</string>
		<string>600783</string>
		<string>600548</string>
		<string>601989</string>
		<string>600983</string>
		<string>600748</string>
		<string>601028</string>
		<string>600022</string>
		<string>600222</string>
		<string>900933</string>
		<string>600190</string>
		<string>600422</string>
		<string>601628</string>
		<string>600390</string>
		<string>600622</string>
		<string>600155</string>
		<string>603616</string>
		<string>600590</string>
		<string>600822</string>
		<string>600355</string>
		<string>600790</string>
		<string>600555</string>
		<string>600088</string>
		<string>601996</string>
		<string>600990</string>
		<string>600755</string>
		<string>600288</string>
		<string>600488</string>
		<string>600688</string>
		<string>603023</string>
		<string>900940</string>
		<string>600888</string>
		<string>603223</string>
		<string>900905</string>
		<string>601168</string>
		<string>600162</string>
		<string>601368</string>
		<string>600362</string>
		<string>600127</string>
		<string>600562</string>
		<string>600095</string>
		<string>600327</string>
		<string>600295</string>
		<string>600527</string>
		<string>601968</string>
		<string>600495</string>
		<string>600727</string>
		<string>600695</string>
		<string>603030</string>
		<string>601007</string>
		<string>600895</string>
		<string>600201</string>
		<string>900912</string>
		<string>603889</string>
		<string>601607</string>
		<string>600601</string>
		<string>603128</string>
		<string>600801</string>
		<string>603328</string>
		<string>600067</string>
		<string>600734</string>
		<string>600267</string>
		<string>600467</string>
		<string>600667</string>
		<string>603002</string>
		<string>600867</string>
	</array>
	<key>SZ</key>
	<array>
		<string>000712</string>
		<string>000680</string>
		<string>000880</string>
		<string>000778</string>
		<string>000978</string>
		<string>000017</string>
		<string>000652</string>
		<string>000417</string>
		<string>000852</string>
		<string>000617</string>
		<string>000585</string>
		<string>000785</string>
		<string>000985</string>
		<string>000024</string>
		<string>000157</string>
		<string>000592</string>
		<string>000792</string>
		<string>000757</string>
		<string>000957</string>
		<string>000031</string>
		<string>000631</string>
		<string>000831</string>
		<string>000564</string>
		<string>200022</string>
		<string>000529</string>
		<string>000729</string>
		<string>000929</string>
		<string>000697</string>
		<string>000897</string>
		<string>000603</string>
		<string>000571</string>
		<string>000803</string>
		<string>200488</string>
		<string>000536</string>
		<string>000069</string>
		<string>000971</string>
		<string>000736</string>
		<string>000936</string>
		<string>000010</string>
		<string>000669</string>
		<string>000869</string>
		<string>000410</string>
		<string>000610</string>
		<string>000810</string>
		<string>000543</string>
		<string>000708</string>
		<string>000676</string>
		<string>000908</string>
		<string>000876</string>
		<string>000150</string>
		<string>000550</string>
		<string>000750</string>
		<string>000048</string>
		<string>000950</string>
		<string>000715</string>
		<string>000683</string>
		<string>000915</string>
		<string>000883</string>
		<string>000848</string>
		<string>200541</string>
		<string>000090</string>
		<string>200706</string>
		<string>000055</string>
		<string>000722</string>
		<string>001696</string>
		<string>000690</string>
		<string>000922</string>
		<string>001896</string>
		<string>000890</string>
		<string>000655</string>
		<string>000788</string>
		<string>000988</string>
		<string>000062</string>
		<string>000027</string>
		<string>000662</string>
		<string>000862</string>
		<string>000627</string>
		<string>000595</string>
		<string>200053</string>
		<string>000795</string>
		<string>200018</string>
		<string>000301</string>
		<string>000501</string>
		<string>000034</string>
		<string>200418</string>
		<string>000701</string>
		<string>000901</string>
		<string>200986</string>
		<string>000567</string>
		<string>200025</string>
		<string>000767</string>
		<string>000967</string>
		<string>000006</string>
		<string>200625</string>
		<string>000806</string>
		<string>000539</string>
		<string>000739</string>
		<string>000939</string>
		<string>000413</string>
		<string>000613</string>
		<string>000581</string>
		<string>000813</string>
		<string>000546</string>
		<string>000981</string>
		<string>000020</string>
		<string>000679</string>
		<string>000420</string>
		<string>000620</string>
		<string>000153</string>
		<string>000820</string>
		<string>000553</string>
		<string>000753</string>
		<string>200011</string>
		<string>000518</string>
		<string>000953</string>
		<string>000718</string>
		<string>000918</string>
		<string>000686</string>
		<string>000886</string>
		<string>000560</string>
		<string>000760</string>
		<string>000525</string>
		<string>000058</string>
		<string>000960</string>
		<string>000725</string>
		<string>000693</string>
		<string>000925</string>
		<string>000858</string>
		<string>000532</string>
		<string>000065</string>
		<string>000732</string>
		<string>000932</string>
		<string>000665</string>
		<string>000598</string>
		<string>200056</string>
		<string>000798</string>
		<string>000998</string>
		<string>000504</string>
		<string>000037</string>
		<string>000672</string>
		<string>000637</string>
		<string>000837</string>
		<string>200530</string>
		<string>200028</string>
		<string>000009</string>
		<string>000911</string>
		<string>200596</string>
		<string>000409</string>
		<string>000609</string>
		<string>000809</string>
		<string>000777</string>
		<string>000977</string>
		<string>000016</string>
		<string>200168</string>
		<string>000651</string>
		<string>000416</string>
		<string>000851</string>
		<string>000616</string>
		<string>000584</string>
		<string>000816</string>
		<string>000949</string>
		<string>000023</string>
		<string>000423</string>
		<string>000623</string>
		<string>000156</string>
		<string>000591</string>
		<string>000823</string>
		<string>000791</string>
		<string>000089</string>
		<string>000756</string>
		<string>000030</string>
		<string>000889</string>
		<string>000430</string>
		<string>000630</string>
		<string>000830</string>
		<string>000563</string>
		<string>000096</string>
		<string>000528</string>
		<string>000963</string>
		<string>000728</string>
		<string>000928</string>
		<string>000002</string>
		<string>000402</string>
		<string>000570</string>
		<string>000802</string>
		<string>000970</string>
		<string>000735</string>
		<string>000935</string>
		<string>000868</string>
		<string>200761</string>
		<string>200726</string>
		<string>000507</string>
		<string>000707</string>
		<string>000875</string>
		<string>000514</string>
		<string>000682</string>
		<string>000882</string>
		<string>200505</string>
		<string>000521</string>
		<string>000721</string>
		<string>000019</string>
		<string>000921</string>
		<string>000419</string>
		<string>000619</string>
		<string>000819</string>
		<string>000587</string>
		<string>200512</string>
		<string>200045</string>
		<string>000987</string>
		<string>000061</string>
		<string>000026</string>
		<string>000661</string>
		<string>000426</string>
		<string>000861</string>
		<string>000626</string>
		<string>000159</string>
		<string>000826</string>
		<string>000559</string>
		<string>000100</string>
		<string>200017</string>
		<string>000759</string>
		<string>000959</string>
		<string>000700</string>
		<string>000900</string>
		<string>000166</string>
		<string>000833</string>
		<string>000566</string>
		<string>000099</string>
		<string>000766</string>
		<string>200024</string>
		<string>000966</string>
		<string>000040</string>
		<string>000005</string>
		<string>000899</string>
		<string>000605</string>
		<string>200992</string>
		<string>000573</string>
		<string>000338</string>
		<string>000538</string>
		<string>000973</string>
		<string>000738</string>
		<string>000938</string>
		<string>000012</string>
		<string>000612</string>
		<string>000812</string>
		<string>000780</string>
		<string>000545</string>
		<string>000078</string>
		<string>000980</string>
		<string>000678</string>
		<string>000878</string>
		<string>200771</string>
		<string>000552</string>
		<string>000752</string>
		<string>000517</string>
		<string>000952</string>
		<string>000717</string>
		<string>200869</string>
		<string>000917</string>
		<string>000685</string>
		<string>000885</string>
		<string>000524</string>
		<string>000692</string>
		<string>000657</string>
		<string>200550</string>
		<string>000531</string>
		<string>000731</string>
		<string>000029</string>
		<string>000931</string>
		<string>000429</string>
		<string>000629</string>
		<string>000597</string>
		<string>000829</string>
		<string>000797</string>
		<string>200055</string>
		<string>000997</string>
		<string>000503</string>
		<string>000036</string>
		<string>000703</string>
		<string>000671</string>
		<string>000903</string>
		<string>000636</string>
		<string>000836</string>
		<string>000969</string>
		<string>000043</string>
		<string>000710</string>
		<string>000008</string>
		<string>000910</string>
		<string>000408</string>
		<string>000608</string>
		<string>000576</string>
		<string>000776</string>
		<string>000050</string>
		<string>000650</string>
		<string>000415</string>
		<string>000850</string>
		<string>000615</string>
		<string>000783</string>
		<string>000548</string>
		<string>000983</string>
		<string>000748</string>
		<string>000948</string>
		<string>000022</string>
		<string>000422</string>
		<string>000622</string>
		<string>200539</string>
		<string>000822</string>
		<string>000790</string>
		<string>000555</string>
		<string>000088</string>
		<string>000990</string>
		<string>000755</string>
		<string>000955</string>
		<string>000488</string>
		<string>200413</string>
		<string>000688</string>
		<string>200613</string>
		<string>000888</string>
		<string>200581</string>
		<string>000762</string>
		<string>200020</string>
		<string>000962</string>
		<string>000727</string>
		<string>000695</string>
		<string>000001</string>
		<string>000895</string>
		<string>000401</string>
		<string>200553</string>
		<string>000601</string>
		<string>000801</string>
		<string>000534</string>
		<string>200160</string>
		<string>000667</string>
		<string>200058</string>
		<string>200725</string>
		<string>000541</string>
		<string>000506</string>
		<string>000039</string>
		<string>000906</string>
		<string>000639</string>
		<string>000839</string>
		<string>000513</string>
		<string>000046</string>
		<string>000713</string>
		<string>000681</string>
		<string>000913</string>
		<string>000881</string>
		<string>200037</string>
		<string>000779</string>
		<string>000979</string>
		<string>000720</string>
		<string>000018</string>
		<string>000920</string>
		<string>000418</string>
		<string>000586</string>
		<string>000818</string>
		<string>000786</string>
		<string>000060</string>
		<string>000025</string>
		<string>000425</string>
		<string>000860</string>
		<string>000625</string>
		<string>000158</string>
		<string>000593</string>
		<string>000825</string>
		<string>000793</string>
		<string>000558</string>
		<string>000993</string>
		<string>000758</string>
		<string>200016</string>
		<string>000958</string>
		<string>000032</string>
		<string>000632</string>
		<string>000565</string>
		<string>000965</string>
		<string>000498</string>
		<string>000698</string>
		<string>000004</string>
		<string>000898</string>
		<string>000404</string>
		<string>000572</string>
		<string>200030</string>
		<string>000537</string>
		<string>000972</string>
		<string>000737</string>
		<string>000937</string>
		<string>000011</string>
		<string>000411</string>
		<string>000811</string>
		<string>000544</string>
		<string>000509</string>
		<string>000709</string>
		<string>000909</string>
		<string>000877</string>
		<string>200570</string>
		<string>000151</string>
		<string>000551</string>
		<string>200468</string>
		<string>000751</string>
		<string>000516</string>
		<string>000049</string>
		<string>000951</string>
		<string>000716</string>
		<string>000916</string>
		<string>000523</string>
		<string>000056</string>
		<string>000723</string>
		<string>000691</string>
		<string>000923</string>
		<string>000656</string>
		<string>000856</string>
		<string>000589</string>
		<string>000789</string>
		<string>000989</string>
		<string>000530</string>
		<string>000063</string>
		<string>000028</string>
		<string>000930</string>
		<string>000663</string>
		<string>000428</string>
		<string>000863</string>
		<string>000628</string>
		<string>000828</string>
		<string>000596</string>
		<string>200521</string>
		<string>200054</string>
		<string>000796</string>
		<string>000996</string>
		<string>200019</string>
		<string>000070</string>
		<string>000502</string>
		<string>000035</string>
		<string>000702</string>
		<string>000670</string>
		<string>000902</string>
		<string>000635</string>
		<string>000835</string>
		<string>000568</string>
		<string>200026</string>
		<string>000768</string>
		<string>000968</string>
		<string>000042</string>
		<string>000407</string>
		<string>000607</string>
		<string>000807</string>
		<string>000975</string>
		<string>000014</string>
		<string>000582</string>
		<string>000782</string>
		<string>000547</string>
		<string>000982</string>
		<string>000021</string>
		<string>000421</string>
		<string>000821</string>
		<string>000554</string>
		<string>200012</string>
		<string>000519</string>
		<string>000719</string>
		<string>000919</string>
		<string>000687</string>
		<string>000887</string>
		<string>000561</string>
		<string>000761</string>
		<string>000526</string>
		<string>000961</string>
		<string>000726</string>
		<string>000926</string>
		<string>200152</string>
		<string>000859</string>
		<string>000400</string>
		<string>000600</string>
		<string>000800</string>
		<string>000333</string>
		<string>000533</string>
		<string>000066</string>
		<string>000733</string>
		<string>000933</string>
		<string>000666</string>
		<string>000599</string>
		<string>000999</string>
		<string>000540</string>
		<string>000505</string>
		<string>000038</string>
		<string>000705</string>
		<string>000905</string>
		<string>000638</string>
		<string>000838</string>
		<string>200029</string>
		<string>000045</string>
		<string>200429</string>
	</array>
</dict>
</plist>
